<mat-toolbar color="primary">MyApp</mat-toolbar>

  

    <div fxLayout="row" style="width: 100%;height: 500px;">
    <div fxlayout="column" fxFlex="33" fxLayoutAlign="start stretch"></div>
    <div fxlayout="column" fxFlex="33" fxLayoutAlign="center center">
        
        <mat-card class="login">
            <h4 style="color: #673ab7;text-align: center;">Login</h4>
                <form [formGroup]="loginform">     
            <div fxLayout="row" fxLayoutAlign="center center">
                
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input  matInput maxlength="8" placeholder="Username" formControlName="username"  >
                </mat-form-field>
             
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" maxlength="6" matInput  placeholder="password" formControlName="password">
                        </mat-form-field>
            </div>
            
            
                    
                            <div fxLayout="row" fxLayoutAlign="center center">
                                
                                <button mat-raised-button  (click)="loginUser()"
                                    style="background:#673ab7; color:white">Login </button>
                                    
                            </div>

           </form>
        </mat-card>
    </div>
    <div fxlayout="column" fxFlex="33" fxLayoutAlign="start stretch"></div>
    
    
</div>








        

